@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/src/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/src/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/src/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/src/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/src/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'NanumSquareNeoVariable';
  src: url('/src/fonts/NanumSquareNeo-Variable.ttf') format('truetype');
  font-weight: 100 900;
}

html, body {
  height: 100%; /* 페이지가 화면 전체를 차지하도록 설정 */
  width: 100%;
  font-family: 'NanumSquareNeo', sans-serif; /* 기본 글꼴을 NanumSquareNeo로 설정 */
}

/* .App 클래스 스타일 정의 */
.App {
  text-align: center;
}

/* .App-logo 클래스 스타일 정의 */
.App-logo {
  height: 40vmin; /* 로고 높이를 뷰포트의 40%로 설정 */
  pointer-events: none; /* 로고에 포인터 이벤트 비활성화 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* 로고에 20초 동안 무한히 회전하는 애니메이션 적용 */
  }
}

/* app-container의 크기를 반응형으로 설정 */
.app-container {
  max-width: 1200px; /* 컨테이너의 최대 너비를 1200px로 설정 */
  width: 100%; /* 화면 크기에 따라 컨테이너 너비가 조정되도록 설정 */
  margin: 0 auto; /* 컨테이너를 가운데 정렬 */
  padding: 20px; /* 내부 패딩을 설정하여 여백 추가 */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* 최소 높이를 뷰포트의 전체 높이로 설정 */
  display: flex; /* 플렉스 박스를 사용하여 자식 요소들을 정렬 */
  flex-direction: column; /* 자식 요소들을 세로 방향으로 정렬 */
  align-items: center; /* 자식 요소들을 가로 중앙 정렬 */
  justify-content: center; /* 자식 요소들을 세로 중앙 정렬 */
  font-size: calc(10px + 2vmin); /* 반응형 폰트 크기 설정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}

/* .App-link 클래스 스타일 정의 */
.App-link {
  color: #61dafb; /* 링크 색상을 밝은 파란색으로 설정 */
}

/* App-logo-spin 애니메이션 정의 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* 애니메이션 시작 시점에서 0도 회전 */
  }
  to {
    transform: rotate(360deg); /* 애니메이션 종료 시점에서 360도 회전 */
  }
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .app-container {
    padding: 10px; /* 작은 화면에서는 패딩을 줄여 공간 확보 */
  }

  .App-header {
    font-size: calc(10px + 3vmin); /* 작은 화면에서 폰트 크기 증가 */
  }
}