.ranking-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 15px;
}

.ranking-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.ranking-list {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.ranking-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}

.ranking-img-container {
    flex-shrink: 0;
    margin-right: 15px;
}

.ranking-img { /* 이미지 */
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.ranking-position { /* 순위 */
    font-size: 20px;
    color: #F2620F;
    margin-right: 10px;
    margin-bottom: 55px;
    width: 30px;
}

.ranking-description { /* 텍스트 */
    flex: 1;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    word-break: keep-all;
    margin-right: 10px;
}

.ranking-like { /* 참여수 */
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    font-size: 12px;
    color: #999;
    margin-left: auto; /* 오른쪽 끝으로 정렬 */
}

.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #F2620F;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; /* 좋아요 버튼과 참여자 수 사이에 간격 추가 */
    transition: transform 0.2s ease;
}

.ranking-like {
    display: flex;
    flex-direction: column-reverse; /* 좋아요 버튼이 위, 참여자 수가 아래로 오도록 설정 */
    align-items: center;
}

.like-button:hover {
    transform: scale(1.1);
    background-color: #F2620F;
    border-radius: 10px;
}

.like-button:active {
    transform: scale(0.9);
}

.ranking-like span {
    margin-right: 0;
    text-align: center;
}

/* 1번째 사진 스타일링*/
.ranking-item:first-child .ranking-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 10%; /* 수평 방향으로 50%, 수직 방향으로 70%로 조정 */
    border-radius: 5px;
    border: 1px solid #ddd;
}